header div.titulo h1 {
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.2em;
    /* flex: 1; */
    text-align: left;
}
header div.titulo {
    width: 95%;
    /* border: 1px solid black; */
}
main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify !important;
    margin: 20px 25px;
    /* padding: 20px; */
}
main > p {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    background-color: white;
    padding: 20px;
    width: 80%;
    margin: auto;
}
main article {
    background-color: white;
    padding: 20px;
    margin: 20px;
}
main article h2 {
    background-color: rgb(255, 255, 131);
    padding: 10px;
    margin: 0;
}
main article img#arbol {
    max-width: 100%;
}