header div.titulo h1 {
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
header div.titulo {
    font-size: 1.2em;
    text-align: center;
}
main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    width: 50%;
    margin: auto;
    margin-top: 15px;
}