header div.titulo h1 {
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.2em;
    /* flex: 1; */
    text-align: left;
}
header div.titulo {
    width: 95%;
    /* border: 1px solid black; */
}
main {
    margin: 20px 25px;
    text-align: justify !important;
    font-family: Arial, Helvetica, sans-serif;
}
main article {
    padding: 20px;
}
main article h3 {
    background-color: rgb(255, 255, 131);
    padding: 10px;
    margin: 0;
}
main article.datosprincipales {
    margin: auto;
    width: 80%;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    background-color: white;
}
main article div.caja div.texto {
    /* border: 1px solid; */
    padding: 20px;
    background-color: white;
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 5px gray; */
}
main article.estudios div.caja div.imagenes {
    /* height: 250px; */
    text-align: center;
    margin: 20px;
    /* text-align: center; */
}
img {
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}