* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #060921e8;
}
header {
    margin: 0;
    padding: 0px;
    text-align: center;
    margin: auto;
}
header nav ul {
    display: inline-flex;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: auto;
    font-size: 1.1em;
}
header nav li {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
header nav li a {
    width: 100%;
    padding: 12px;
    margin: 0;
    text-decoration: none;
    background-color: #0c98d4;
    color: white;
}
header nav li a:hover {
    color: black;
    background-color: #fdf8d5;
}