* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #271f3f;
}

/* ====================== ESTILOS PARA EL HEADER ==================== */
header {
    margin: 0;
    padding: 0px;
    text-align: center;
    margin: auto;
}
header nav ul {
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
    margin: auto;
    font-size: 1.1em;
}
header nav li {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
/* Se estiliza las etiquetas <a> para que ocupen todo el espacio */
header nav li a {
    width: 100%;
    height: 100%;
    padding: 12px;
    margin: 0;
    text-decoration: none;
    background-color: #070b2bee;
    color: white;
}
header nav li a:hover {
    color: black;
    text-shadow: 1px 1px 0px gray;
    background-color: #575b78c6;
}

/* ==================== MAIN ==================== */
main {
    text-align: center;
}
main h1 {
    color: white;
    margin-top: 5%;
    font-size: 2.7em;
    letter-spacing: 1px;
}
main input#input-search-simple, input#input-search-images {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #575b78e8;
    padding-left: 15px;
    font-size: 15px;
    color: white;
}
main button#btn-simple, button#btn-images {
    background-color: #070b2bee;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
}
main button#btn-simple:hover {
    box-shadow: inset 0 0 0 1px gray;
    /* border: gray 1px solid; */
    cursor: pointer;
}

/* ================== ESTILOS EN BÚSQUEDA AVANZADA ================= */
main#advancedsearch h1, div#formulario, p#p-advanced {
    margin: 20px auto 25px 40px;
}
main#advancedsearch p#p-advanced {
    text-align: left;
    color: white;
}
main#advancedsearch h1 {
    text-align: left;
    padding: 0%;
    color: #e17d69;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 0;
}
hr {
    width: 100%;
    height: 1px;
    background-color: gray;
    border: none;
}
/* Estilos para el formulario */
div#formulario {
    text-align: left;
    width: 50%;
    height: auto;
}
#frm-advanced {
    width: 100%;
}


/* Estilos para organizar simétricamente los elementos del form */
#frm-advanced .campo {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.label {
    display: flex;
    width: 40%;
}
div.input {
    display: flex;
    width: 60%;
}
main#advancedsearch form#frm-advanced label.lbl-advanced {
    color: #9f9f9f;
}
div.campo input[name="search-advanced"] {
    /* display: flex; */
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: #271f3f;
    border: 1px solid gray;
    color: white;
    padding-left: 10px;
}
div.campo input[name="search-advanced"]:focus {
    outline: none;
    border-color: rgb(113, 174, 199);
    border-radius: 1px;
}

/* Estilos para el button */
div#cont-btn-advanced {
    text-align: right;
}
button#btn-advanced {
    text-align: center;
    padding: 10px 15px;
    background-color: #7cbed9;
    font-weight: bold;
    font-size: 0.7em;
    border: none;
    border-radius: 2px;
}
button#btn-advanced:hover {
    background-color: rgb(177, 223, 241);
    cursor: pointer;
    box-shadow: inset 0 0 0 1px blue
}