* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #271f3f;
}

/* ====================== ESTILOS PARA EL HEADER ==================== */
header {
    margin: 0;
    padding: 0px;
    text-align: center;
    margin: auto;
}
header nav ul {
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
    margin: auto;
    font-size: 1.1em;
}
header nav li {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
/* Se estiliza las etiquetas <a> para que ocupen todo el espacio */
header nav li a {
    width: 100%;
    height: 100%;
    padding: 12px;
    margin: 0;
    text-decoration: none;
    background-color: #070b2bee;
    color: white;
}
header nav li a:hover {
    color: black;
    text-shadow: 1px 1px 0px gray;
    background-color: #575b78c6;
}

/* ==================== MAIN ==================== */
main {
    padding: 5%;
    text-align: center;
}
main h1 {
    color: white;
    margin: 2%;
    font-size: 2.7em;
    letter-spacing: 1px;
}
main input#input-search-simple, input#input-search-images {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #575b78e8;
    padding-left: 15px;
    font-size: 15px;
    color: white;
}
main button#btn-simple, button#btn-images {
    background-color: #070b2bee;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
}
main button#btn-simple:hover {
    border: gray 1px solid;
    cursor: pointer;
}